// General layout settings
@import "../../clboost/scss/commons";
@import "../../clboost/scss/drawer";

@import 'abstracts/mixins';

@import 'theme/base';

@import 'components/components';
@import 'components/buttons';
@import 'components/cards';
@import 'components/blocks';
@import 'components/texts';
@import 'components/header';
@import 'components/footer';
@import 'components/syllabus';
@import 'components/flags';
@import 'components/myprofile';

@import 'pages/homepage';
@import 'pages/dashboard';

#page-my-index .db-action-block {
    width: 100%;
    border-color: $primary;
    border-width: 1px;
    color: $primary;
}