// General layout settings
@import "../../clboost/scss/commons";
@import "../../clboost/scss/drawer";

@import 'theme/base';

@import 'components/buttons';
@import 'components/blocks';
@import 'components/header';
@import 'components/footer';

#page-my-index .db-action-block {
    width: 100%;
    border-color: $primary;
    border-width: 1px;
    color: $primary;
}