
body.pagelayout-mypublic {
    .profile_tree {
        background-color: $white;
    }

    .card {
        background-color: transparent;
        border: initial;
    }

    .profile-contact {
        .contentnode {
            dl {
                display: flex;
            }
            dd {
                margin-left: 1em;
            }
        }
    }

    h3.lead {
        color: $primary;
        font-size: larger;
        font-weight: bolder;
        padding-bottom: 1em;
    }

    #page-header {
        position: relative;

        &:before {
            border-color: transparentize($primary, .2) transparent transparent transparent;
            border-style: solid;
            border-width: 200px 200px 0 0;
            content: "";
            height: 0;
            position: absolute;
            width: 0;
        }

        &:after {
            border-color: transparent transparentize($secondary, .2) transparent transparent;
            border-style: solid;
            border-width: 200px 200px 0 0;
            content: "";
            height: 0;
            position: absolute;
            right: 0;
            top: 100px;
            width: 0;
        }

        > div {
            background-color: $white;
            margin-top: 300px;
            padding: 0 1.25rem;
        }

        .size-150 {
            width: 150px;
            height: 150px;
            font-size: 3rem;
        }

        .singlebutton {
            margin-top: 1.25rem;
        }
    }

    #page-header,
    .userprofile {
        .page-header-image {
            position: absolute;
            margin-top: -100px;

            img {
                border: solid white;
                border-width: 5px;
            }
        }

        .page-header-headings {
            h1 {
                font-size: 2rem;
            }

            margin-top: 1em;
            margin-left: 150px;
        }
    }

    /* Hide breadcrumb */
    #page-navbar {
        visibility: hidden;
    }

    .card-course {
        min-width: 25%;
        a.course-image {
            background-size: cover;
        }
    }
}