body.notloggedin {

  #page {
    @include media-breakpoint-up(sm) {
      margin-top: (312px + 90px);
    }
  }
  .navbar {
    box-shadow: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    height: 80px;
    padding: 0;
    max-height: none;

    @include media-breakpoint-down(sm) {
      background-color: $dark;
      opacity: 0.8;
    }
    .imtpn-container {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.navbar-dark {
      .nav-link {
        a, a:hover, a:visited {
          font-weight: bold;
          color: $navbar-dark-color;
          text-decoration: none;
        }
      }
    }
  }

  header.header {
    position: relative;
    @include media-breakpoint-up(sm) {
      position: fixed;
      width: 100%;
      top: 0;
      z-index: $zindex-fixed - 1
    }

    flex: 0 0 auto;

    background-image: url([[pix:theme|backgrounds/header]]);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: $white;

    .header__triangle-1 {
      position: absolute;
      bottom: 0;
      left: 0;

      background: $app-blue-1;
      opacity: 0.8;

      width: 62%;
      height: 100%;

      @media (max-width: $screen-md-max) {
        width: 52%;
      }

      @media (max-width: $screen-sm-max) {
        width: 100%;
        &::after {
          display: none;
        }
      }

      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 312px 312px 0 0;
        border-color: $app-blue-1 transparent transparent transparent;

        position: absolute;
        right: -312px;
        top: 0;
      }

    }

    .header__triangle-2 {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 200px 0 0 200px;
      border-color: transparent transparent transparent $app-gray-1;
    }

    .header__triangle-3 {
      position: absolute;
      bottom: 0;
      right: 0;

      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 200px 200px;
      border-color: transparent transparent $app-blue-2 transparent;

      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }

    .header__bottom {
      position: relative;

      padding-top: 80px;
      height: 312px;

      @media (max-width: $screen-sm-max) {
        height: 262px;
      }

      .imtpn-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
      }
    }

    .header__title {
      font-size: 32px;
      font-weight: bold;
      line-height: 42px;

      @media (max-width: $screen-sm-max) {
        font-size: 20px;
        text-align: center;
        line-height: 30px;
      }
    }

    .header__button {
      margin-top: 20px;

      @media (max-width: $screen-sm-max) {
        width: 100%;
      }

      a {
        min-width: 278px;

        @media (max-width: $screen-sm-max) {
          min-width: 0;
          width: 100%;
        }
      }
    }
  }

}