$imt-lightblue: #00B8DE;
$imt-darkblue: #0C2340;
$imt-darkgrey: #3C3C3C;
$imt-lightgreen: #AFCB37;
$imt-orange: #F2A900;
$imt-orange2: #EF7D00;
$imt-red: #f23000;
$imt-darkred: #9c1f00;
$imt-purple: #D40F7D;
$imt-purple2: #61259E;
$imt-darkblue2: #000773;

$imt-standard-primary: $imt-lightblue;
$imt-standard-secondary: $imt-darkblue;

$imt-atlantique-primary: $imt-lightblue;
$imt-atlantique-secondary: $imt-lightgreen;

$imt-lille-primary: $imt-lightblue;
$imt-lille-secondary: $imt-orange;

$imt-albi-primary: $imt-lightblue;
$imt-albi-secondary: $imt-orange2;

$imt-ales-primary: $imt-lightblue;
$imt-ales-secondary: $imt-purple;