$imt-lightblue: #00b8de;
$imt-darkblue: #0c2340;
$imt-darkgrey: #3c3c3c;
$imt-lightgreen: #afcb37;
$imt-orange: #f2a900;
$imt-orange2: #ef7d00;
$imt-red: #f23000;
$imt-darkred: #9c1f00;
$imt-purple: #d40f7d;
$imt-purple2: #61259e;
$imt-darkblue2: #000773;

$imt-standard-primary: $imt-lightblue;
$imt-standard-secondary: $imt-darkblue;

$imt-atlantique-primary: $imt-lightblue;
$imt-atlantique-secondary: $imt-lightgreen;

$imt-lille-primary: $imt-lightblue;
$imt-lille-secondary: $imt-orange;

$imt-albi-primary: $imt-lightblue;
$imt-albi-secondary: $imt-orange2;

$imt-ales-primary: $imt-lightblue;
$imt-ales-secondary: $imt-purple;